body{
    margin: 0;
    text-align: center;
    background-image: url(images/table.jpg);
    background-size: cover;
    color: #daeef7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #023235;
    border: none;
    border-radius: 3px;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    color: rgb(231, 242, 252);
    margin: 10px 10px 10px 10px;
}
.message{
    font-size: medium;
    color: #aaecaf;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
#compHands{
    display: flex;
    justify-content: center;
    gap: 2em;
    transform: scale(-1,-1);
    font-size: larger;
}
#compLeft{
    transform: scaleX(-1);
}
#playerHands{
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: larger;
}
#playerLeft{
    transform: scaleX(-1);
}
#checkboxes{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.header{
    position: relative;
    display: flex;
    justify-content: center;
}
#roundDisplay{
    position: absolute;
    left: 10px;
}
button:hover{
    background-color: #034f55;
}
button:active{
    transform: translateY(3px);
}
#log{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #c5f7c9;
}